<%- contentFor('content') %> 

    <a href="<%= `${baseUrl}/goal/${goal._id}${qstrNikToken}` %>">
        <%= goal.name %>
    </a>

<hr>
<ol>
    <% tasks.forEach(t => { %>
        <li>
            <a href="<%= `${baseUrl}/task/${t._id}${qstrNikToken}&goalId=${goal._id}` %>">
                <%= t.name %>
            </a>
        </li>
    <% }) %>
    <li>
        <form method="POST" action="<%= `${baseUrl}/goal/${goal._id}${qstrNikToken}` %>">
            <input name="name" type="text">
            <button type="submit">Add task</button>
        </form>
    </li>
</ol>