<%- contentFor('content') %>

    <a href="<%= `${baseUrl}/goal/${goal._id}${qstrNikToken}` %>">
        <%= goal.name %>
    </a>
    <% parents.forEach((p) => { %>
        <span> &#x2192; </span>
        <a href="<%= `${baseUrl}/task/${p._id}${qstrNikTokenGoalId}` %>">
            <%= p.name %>
        </a>
    <% }) %>
    <hr>
    <h1>
        <%= task.name %>
    </h1>

    <ol>
        <% subtasks.forEach(s => { %>
            <li>
                <a href="<%= `${baseUrl}/task/${s._id}${qstrNikTokenGoalId}` %>">
                    <%= s.name %>
                </a>
            </li>
        <% }) %>
        <li>
            <form method="POST" action="<%= `${baseUrl}/task/${task._id}${qstrNikTokenGoalId}` %>">
                <input name="name" type="text">
                <input type="submit" value="Add subtask">
            </form>
        </li>
    </ol>