<%- contentFor('content') %>

    <a href="<%= `${baseUrl}/goal/${goal._id}${qstrNikToken}` %>">
        <%= goal.name %>
    </a>
    <%- include('./partials/taskParents', { parents }) %>
    <hr>
    <h1>
        <%= task.name %>
    </h1>

    <ol>
        <% subtasks.forEach(s => { %>
            <li>
                <a href="<%= `${baseUrl}/task/${s._id}${qstrNikTokenGoalId}` %>">
                    <%= s.name %>
                </a>
            </li>
        <% }) %>
        <li>
            <form method="POST" action="<%= `${baseUrl}/task/${task._id}${qstrNikTokenGoalId}` %>">
                <input name="name" type="text">
                <button type="submit">Add subtask</button>
            </form>
        </li>
    </ol>