<%- contentFor('content') %>

    <a href="<%= `${baseUrl}/goal/${goal._id}${qstrNikToken}` %>">
        <%= goal.name %>
    </a>
    <% parents.forEach((p) => { %>
        <a href="<%= `${baseUrl}/task/${p._id}${qstrNikTokenGoalId}` %>">
            <%= p.name %>
        </a>
    <% }) %>
    <hr>
    <h1>
        <%= task.name %>
    </h1>