<%- contentFor('content') %>
<h3><%= user.nik %></h3>
<button><a href="<%= `${baseUrl}/user/${user.nik}/goal${tokenInQuery}` %>">Add new goal</a></button>
<% user.goals.forEach(goal => { %>
    <h2><a href="<%= `${baseUrl}/user/${user.nik}/goal/${goal._id}${tokenInQuery}` %>"><%= goal.title %></a></h2>
    <p><%= goal.description || '' %></p>
<% }) %>
